* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundColor {
  background: linear-gradient(to bottom,
      rgba(10, 60, 120, 0.4),
      rgba(181, 209, 235, 0.2));
}

.welcome {
  text-align: center;
}

.primaryColorText {
  color: #145DA0;
}

.rightContainerColor {
  background: linear-gradient(135deg, #145DA0, #1e73be, #2576cf);
}

.logo-img {
  width: 150px;
  transition: transform 0.4s ease;
}

.logo-img:hover {
  transform: scale(1.1);
}

.custom-line {
  width: 60%;
  height: 4px;
  background: linear-gradient(90deg, #ff8c00, #DA6220);
  border: none;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
}

.hover-grow {
  transition: all 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.signupText {
  color: #DA6220;
  font-weight: 700;
}

.signupText:hover {
  color: #fff !important;
  text-decoration: none;
}

.landingContain {
  width: 95vw;
  min-height: 90vh;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .landingContain {
    flex-direction: column;
    height: auto;
    margin: 20px 0;
  }

  p{
   text-align: center; 
  }

  h1.welcome{
    font-size: 1.5rem;
    text-align: center;
  }
}


.landingContain:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}


.logo-img {
  width: 180px;
  height: auto;
}

button.btn {
  transition: all 0.3s ease;
  background-color: #042a4e;
}

button.btn:hover {
  background-color: #B5D1EB;
  color: #145DA0;
  transform: scale(1.05);
}